.home {
  width: 100%;
  height: 92.5vh; // 100% → 100vhに変更して明示的に画面高さを指定
  position: relative;
  overflow: hidden; // オーバーフローを隠す
    
    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 16px;
      color: #666;
    }
  }